$font-stack: 'Open Sans', sans-serif;

$primary-color: #33D0DE;
$alt-color: #333;
$text-color: #000;
$alt-text-color: #fff;
$progress-bar-color : #ff5d5f;
$progress-step-active-color: #4ccee0;
$newsletter-border-color: #dcdcdc;
$top-brands-background-color: #f6f6f6;
$social-media-icon-color: #C5C5C4;
$popup-menu-background-color: #555;
$collection-nav-btn: #9C9C9C;
$product-singel-color: #707070;
$product-singel-btn-color: #eee;
$product-singel-info-menu-color: #dedede;

=primary-background-color($alpha)
    background-color: rgba(51, 208, 222, $alpha);
