<article class="top-brands__container">
  <div class="top-brands__container-items">
      <div class="top-brands__header-bar"></div>
      <header class="top-brands__header">Top brands</header>
      <div class="top-brands__header-bar"></div>
  </div>
  <div class="top-brands__container-items">
    <a href="#" class="top-brands__img-link"><img class="top-brands__img" alt="brand img" src="assets/img/brands/50095-REBEL-WomansClothingLandingPage-Brands-01-nike.png"></a>
    <a href="#" class="top-brands__img-link"><img class="top-brands__img" alt="brand img" src="assets/img/brands/50095-REBEL-WomansClothingLandingPage-Brands-02-adidas.png"></a>
    <a href="#" class="top-brands__img-link"><img class="top-brands__img" alt="brand img" src="assets/img/brands/50095-REBEL-WomansClothingLandingPage-Brands-07-nb.png"></a>
    <a href="#" class="top-brands__img-link"><img class="top-brands__img" alt="brand img" src="assets/img/brands/50095-REBEL-WomansClothingLandingPage-Brands-10-puma.png"></a>
    <a href="#" class="top-brands__img-link"><img class="top-brands__img" alt="brand img" src="assets/img/brands/diesel1.png"></a>
  </div>
  <div class="top-brands__container-items">
      <i class="fa fa-circle top-brands__circle" aria-hidden="true"></i>
      <i class="fa fa-circle top-brands__circle" aria-hidden="true"></i>
      <i class="fa fa-circle-thin top-brands__circle top-brands__circle--selected" aria-hidden="true"></i>
      <i class="fa fa-circle top-brands__circle" aria-hidden="true"></i>
      <i class="fa fa-circle top-brands__circle" aria-hidden="true"></i>
  </div>
</article>