<div class="ext-desing__container">
  <aside class="w50">
    <img class="ext-desing__img" src="http://via.placeholder.com/685x645" alt="img">
  </aside>
  <article class="w50">
    <div class="ext-desing__info">
      <header class="ext-desing__header"><h2>Extraordinary Design</h2></header>
      <p class="ext-desing__text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.</p>
      <div class="ext-desing__container-style">
        <div class="ext-desing__style-item">
            <i class="fa fa-eye ext-desing__style-incon" aria-hidden="true"></i>
            <p class="ext-desing__style-text">Elegant Style</p>
        </div>
        <div class="ext-desing__style-item">
            <i class="fa fa-eye ext-desing__style-incon" aria-hidden="true"></i>
            <p class="ext-desing__style-text">Elegant Style</p>
        </div>
        <div class="ext-desing__style-item">
            <i class="fa fa-eye ext-desing__style-incon" aria-hidden="true"></i>
            <p class="ext-desing__style-text">Elegant Style</p>
        </div>
      </div>
      <a class="ext-desing__link" href="#">Read more</a>
    </div>
  </article>
</div>
<div class="ext-desing__container ext-desing__container--alt">
  <article class="w50">
    <div class="ext-desing__info">
      <header class="ext-desing__header"><h2>Extraordinary Design</h2></header>
      <p class="ext-desing__text ext-desing__text--alt">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.</p>
      <div class="ext-desing__container-style">
        <div class="ext-desing__style-item ext-desing__style-item--alt">
            <i class="fa fa-eye ext-desing__style-incon" aria-hidden="true"></i>
            <p class="ext-desing__style-text">Elegant Style</p>
        </div>
        <div class="ext-desing__style-item ext-desing__style-item--alt">
            <i class="fa fa-eye ext-desing__style-incon" aria-hidden="true"></i>
            <p class="ext-desing__style-text">Elegant Style</p>
        </div>
        <div class="ext-desing__style-item ext-desing__style-item--alt">
            <i class="fa fa-eye ext-desing__style-incon" aria-hidden="true"></i>
            <p class="ext-desing__style-text">Elegant Style</p>
        </div>
      </div>
      <a class="ext-desing__link" href="#">Read more</a>
    </div>
  </article>
  <aside class="w50">
    <img class="ext-desing__img" src="http://via.placeholder.com/685x645" alt="img">
  </aside>
</div>
