@import '../vars.sass';

.menu 
    &__background--black
        background-color: $alt-color;
        min-height: 100px;

    &__nav
        color: $alt-text-color;
        display: flex;
        justify-content: space-between;
        height: 100px;
        padding-left: 100px;
        padding-right: 100px;

    &__nav-list
        margin-top: auto;
        margin-bottom: auto;

    &__nav-items
        display: inline;
        margin: auto;
        margin-left: 20px;

    &__nav-items-link
        text-decoration: none;

    &__nav-items-icon
            padding-right: 10px;

    &__nav-brand
        height: 50px;
        margin-top: auto;
        margin-bottom: auto;