@import '../vars.sass';

.menu 
    &__background
        min-height: 100px;
        background-size: 100% auto;
        background-repeat: no-repeat;

    &__background--black
        background-color: $alt-color;

    &__nav
        color: $alt-text-color;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        min-height: 100px;
        padding-left: 100px;
        padding-right: 100px;

    &__nav-list
        margin-top: auto;
        margin-bottom: auto;

    &__nav-items
        display: inline;
        margin: auto;
        margin-left: 20px;

    &__nav-items-link
        text-decoration: none;

        &:hover
            text-shadow: 6px 6px 9px rgba(150, 150, 150, 0.75);
            color: $primary-color;

    &__nav-items-icon
            padding-right: 10px;

    &__nav-brand
        height: 50px;
        margin-top: auto;
        margin-bottom: auto;

    &__opt-template
        height: 460px;

    &__sliders-arrow
        border: none;
        background: none;
        padding: 0px;
        height: 100px;
        width: 50px;
        margin: 20px;
        margin-top: 145px;

        &:hover
            cursor: pointer;

    &__sliders-arrow
        &--left
            float: left;
        &--right
            float: right;

    &__sliders-link
        float: right;
        margin-top: 284px;
        border: 2px solid $text-color;
        padding: 25px 40px;
        text-transform: uppercase;
        text-decoration: none;

        &:hover
            background-color: $primary-color;
            color: $alt-text-color;
            border-color: $alt-text-color;

    &__sliders-progress
        &-container
            position: relative;
            height: 100%;
            pointer-events: none;
        
        &-step-container
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            bottom: 0;
            left: 0;
            margin-bottom: 40px;
            width: 100%;

        &-step-elements
            height: 15px;
            width: 2px;
            background-color: $alt-text-color;
            margin-left: 10px;
            margin-right: 10px;

        &-step-elements--active
            height: 25px;
            background-color: $progress-step-active-color;

        &-bar
            position: absolute;
            width: 100%;
            bottom: 0;
            height: 10px;
            
            &-background
                background-color: $alt-text-color;
                opacity: 0.5;

            &-done
                background-color: $progress-bar-color;
                width: 0%;

                &--runing
                    animation: process_bar 21s;

    &__collection
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $alt-text-color;
        position: relative;
        top: -50px;

    &__collection-header-top
        font-size: 4.5em;
        display: flex;
        line-height: 0.7em;

        &::after, &::before
            content: ' '
            background-color: $alt-text-color;
            height: 1px;
            width: 310px;
            display: block;
            margin: 0px 10px;
            position: relative;
            bottom: -65%;
    
    &__collection-header
        font-size: 7em;
        font-weight: bold;
        text-transform: uppercase;

    &__collection-header-link
        display: block;
        font-size: x-large;
        text-transform: uppercase;
        border-width: 2px;
        border-color: $alt-text-color;
        border-style: solid;
        padding: 22px 25px;
        margin-top: 15px;
        text-decoration: none;

        &:hover
            background-color: $primary-color;
            color: $alt-text-color;
            border-color: $alt-text-color;


@keyframes process_bar
    0% 
        width: 0%;

    100%   
        width: 100%;