<header id="main-header" class="menu__background menu__background--black">
  <nav class="menu__nav">
    <img src="/assets/img/brand.png" alt="brand" class="menu__nav-brand">
    <ul class="menu__nav-list">
      <li class="menu__nav-items"><a href="#" class="menu__nav-items-link"><i class="fa fa-user menu__nav-items-icon" aria-hidden="true"></i>Login</a></li>
      <li class="menu__nav-items"><a href="#" class="menu__nav-items-link"><i class="fa fa-shopping-bag menu__nav-items-icon" aria-hidden="true"></i>Items</a></li>
      <li class="menu__nav-items"><a href="#" class="menu__nav-items-link"><i class="fa fa-search menu__nav-items-icon" aria-hidden="true" aria-label="search"></i></a></li>
      <li class="menu__nav-items"><a href="#" class="menu__nav-items-link"><i class="fa fa-bars menu__nav-items-icon" aria-hidden="true" aria-label="menu"></i></a></li>
    </ul>
  </nav>
 
  <div [ngSwitch]="opt_template">
      <div *ngSwitchCase="templates_name.homepage" class="menu__opt-template">
        <button (click)="HomepageClickPrevious()" type="button" class="menu__sliders-arrow menu__sliders-arrow--left">
          <img src="/assets/img/arrow_left.png" alt="Left arrow">
        </button>
        <button (click)="HomepageClickNext()" type="button" class="menu__sliders-arrow menu__sliders-arrow--right">
            <img src="/assets/img/arrow_right.png" alt="Right arrow">
        </button>
        <div>

        </div>
        <a href="#" class="menu__sliders-link">Learn more about great deals</a>
        <div class="menu__sliders-progress-container">
          <div id="container-step" class="menu__sliders-progress-step-container">
            <div *ngFor="let item of resources.homepage.urls" [class.menu__sliders-progress-step-elements--active]="item[1]" class="menu__sliders-progress-step-elements"></div>
          </div>
          <div class="menu__sliders-progress-bar menu__sliders-progress-bar-background"></div>
          <div class="menu__sliders-progress-bar menu__sliders-progress-bar-done" [class.menu__sliders-progress-bar-done--runing]="resources.homepage.progress_bar"></div>
        </div>
      </div>
      
      <div *ngSwitchCase="templates_name.collectionpage" class="menu__opt-template">
        <div class="menu__collection">
          <p class="menu__collection-header-top">most wanted</p>
          <h2 class="menu__collection-header">New collection</h2>
          <a href="#" class="menu__collection-header-link">Browse collection</a>
        </div>
      </div>
  </div>
</header>
