<section class="home-top__container">
    <article class="home-top__lookbook">
        <div class="home-top__lookbook-link-container">
          <a href="#" class="home-top__lookbook-link"><div class="home-top__lookbook-link--bold">MEN'S</div>lookbook</a>
        </div>
        <img src="http://via.placeholder.com/350x390" class="home-top__lookbook-img">
    </article>
    <article class="home-top__newsletter">
        <app-part-newsletter></app-part-newsletter>
    </article>
    <article class="home-top__lookbook">
        <div class="home-top__lookbook-link-container">
          <a href="#" class="home-top__lookbook-link"><div class="home-top__lookbook-link--bold">WOMEN'S</div>lookbook</a>
        </div>
        <img src="http://via.placeholder.com/350x390" class="home-top__lookbook-img">
    </article>
</section>
<section class="home-brands__container">
    <app-part-top-brands></app-part-top-brands>
</section>
<section class="home-advertising__container">
    <app-part-advertising></app-part-advertising>
</section>