<aside class="monolithic-advertising__container">
  <img class="monolithic-advertising__img" src="http://via.placeholder.com/1370x430" alt="Monolithic advertising">
  <div class="monolithic-advertising__container-text">
    <a class="monolithic-advertising__link" href="#">
      <header class="monolithic-advertising__text">
          <p>All summer</p>
          <div class="monolithic-advertising__text-center">
            <p class="monolithic-advertising__text-center-smal">Get</p>
            <p class="monolithic-advertising__text-center-pro">25</p>
            <p class="monolithic-advertising__text-center-smal">Off!</p>
          </div>
          <p>Collectioon</p>
      </header>
    </a>
  </div>
</aside>