<aside>
    <div class="advertising__contrent">
        <div class="advertising__column advertising__column--border">
            <div class="advertising__item">
                <a class="advertising__link advertising__link-first" href="#"></a>
            </div>
        </div>
        <div class="advertising__column">
            <div class="advertising__item advertising__item--border">
                <a class="advertising__link advertising__link-second" href="#"></a>
            </div>
            <div class="advertising__item">
                <a class="advertising__link advertising__link-third" href="#"></a>
            </div>
        </div>
    </div>
</aside>