<article class="maillist__container">
  <div class="maillist maillist__logo"><i class="fa fa-envelope-o center" aria-hidden="true"></i></div>
  <header><h2 class="maillist maillist__heder">Get our newsletter</h2></header>
  <p class="maillist maillist__text">Join our maillist to receive</p>
  <p class="maillist maillist__text">Special discounts</p>
  <label for="newsletter-email">
    <div class="display-none">
      <span>Email:</span>
      <strong><abbr title="required">*</abbr></strong>
    </div>
    <input required id="newsletter-email" class="maillist maillist__email" type="email" placeholder="Enter your email">
  </label>
  <input id="newsletter-submit" class="maillist maillist__submit" type="submit" value="Subscribe">
</article>