@import '../vars.sass';

.product
    &__monolithic-advertising-small

    &__main
        display: flex;
        justify-content: space-between;
        margin: 110px 100px;
        flex-direction: row;

    &__slideshow
        margin-left: 5%;
    
    &__sharpen-your-look
        margin: 0px 100px;
        margin-bottom: 55px;