<section class="product__monolithic-advertising-small">
  <app-part-monolithic-advertising-small></app-part-monolithic-advertising-small>
</section>
<section class="product__main">
  <div class="w45">
    <app-partial-img-slideshow [urls]="product.slideshow"></app-partial-img-slideshow>
  </div>
  <div class="w45">
    <app-part-product-single [product-id]="product.product_id"></app-part-product-single>
  </div>
</section>
<section class="product__sharpen-your-look">
    <app-part-sharpen-your-look></app-part-sharpen-your-look>
</section>